@model FitnessClub3.Models.GroupTraining

@{
    ViewData["Title"] = "Attend";
}

<hr />
<div>

    <h4>Групова тренировка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
    </dl>
    <form asp-action="Attend">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Запази място" class="btn btn-primary" />
                @*<input type="submit" value="Откажи" class="btn btn-danger" />*@
            </div>

        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

